
.button{
    background-color: green;
    color: #fff;
    padding: 15px 30px;
    text-align: center;
    font-size: 22px;
    border: none;
    margin: 2px;
    border-radius: 5px;
    cursor: pointer;
}
